@page "/run"
@rendermode InteractiveServer

<link href="static/form-library.css" rel="stylesheet"/>

<PageTitle>SurveyJS Form Library</PageTitle>

<div id="root"></div>

@inject IJSRuntime jsRuntime
@implements IAsyncDisposable
@code{
  private IJSObjectReference? module;
  protected override async Task OnAfterRenderAsync(bool firstRender) {
    await base.OnAfterRenderAsync(firstRender);
    module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./static/form-library.js");            
    await module.InvokeVoidAsync("init");
  }
  async ValueTask IAsyncDisposable.DisposeAsync() {
    if (module is not null) {
      await module.DisposeAsync();
    }
  }
}